# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.pyc

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Config files
*.ini

# venv files
venv/*
.idea/*
config/*
*.vscode/
test.py
*.log
*.sh
supervisord.log
supervisord.pid